.box1 {
    margin-top: 50px;
    margin-left: 10px;
    border-radius: 30px;
    height: auto;
    width: 420px;
    
}
.text-center {
    font-size: 20px;
    font-weight: 500;
    color: red;
}
.box2 {
    margin-top: 50px;
    border-radius: 30px;
    height: 300px;
    width: 830px;
}