<div class="container-fluid">
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col-4">
            <div class="card shadow">
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <h4 class="text-dark text-center" style="font-size: 30px;">Welcome</h4>
                        </div>
                        <div class="mb-3">
                            <p class="text-muted margin-top">Link has sent on your registered email. Please verify it.</p>
                        </div>
                        <div class="col-md-6 ">
                                <a href="/login"  class="text-danger" style="text-decoration: none;  ">Back to Login</a>
                            </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>