<div id="fh5co-intro" class="fh5co-section text-center">
    <div class="container">
        <div class="row row-bottom-padded-md">
            <div class="col-md-8 col-md-offset-2 text-center ts-intro">
                <h1>Our Experiences</h1>
                <p class="fh5co-lead">Prompt has an intimate familiarity with the industrial automation in addition to a unique blend of cutting edge SCADA and Oil &amp; Gas expertise.</p>
                <div class="ourmission">
                <h1>Our Mission</h1>
                </div>
                <p class="fh5co-lead">Blending technologies and O&amp;G expertise in industrial automation and embrace the new digital opportunities presented by industry 4.0 and Digital Transformation.</p>
                <p class="fh5co-lead"> Provide services and solutions relentlessly support our clients business continuity while keeping safe, reliability and productivity as top priorities. </p>

            </div>
        </div>
    </div>
        <div class="row row-bottom-padded-sm">
            <div class="col-md-6">
                <div class="fh5co-service text-center">
                    <span class="fh5co-service-icon fh5co-icon-pentagon"><i class="icon-desktop2"></i></span>
                    <div class="misson-critical">
                    <h3>Mission Critical Solution</h3>
                    <p>State enterprise oil and gas transportation has grown from simple supply systems to
                        complex, so It is necessary to manage the network optimization to meet high demand
                        of gas consumption.</p>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-4">
                <div class="fh5co-service text-center">
                    <span class="fh5co-service-icon fh5co-icon-pentagon"><i class="icon-focus"></i></span>
                    <h3>FORENSIC TECHNOLOGY</h3>
                    <p>At Forensic Technology, we steadfastly believe that technology is critical to winning
                        the war on crime and are committed to research and development that aid in the
                        creation of new crime-fighting solutions. We pride ourselves on the fact that our
                        award-winning technological innovations have aided public safety agencies in solving
                        thousands of crimes worldwide.</p>

                    </p>
                </div>
            </div> -->
            <div class="col-md-6">
                <div class="fh5co-service text-center">
                    <span class="fh5co-service-icon fh5co-icon-pentagon"><i class="icon-grid2"></i></span>
                    <h3>CodexSmartEdge</h3>
                    <p>platform solution for machine-to-machine connectivity and distributed intelligence in the field or the grid.</p>
                </div>
            </div>
        </div>
        <!-- <div class="row row-bottom-padded-sm">
        <div class="col-md-6">
            <p><img src="images/slider_1.jpg" alt="Free HTML5 Bootstrap Template" class="img-responsive img-bordered"></p>
        </div>
        <div class="col-md-6 padded-top">
            <h3>Creative Title Here</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum fuga rerum doloremque dolore, molestias eligendi. Nulla aliquam aut doloribus tenetur repellendus omnis dicta, unde magni.</p>
            <ul class="ul_style_1">
                <li>Lorem ipsum dolor sit amet</li>
                <li>Consectetur adipisicing elit</li>
                <li>Recusandae laboriosam eligendi maiores</li>
                <li>Sapiente repudiandae perspiciatis</li>
            </ul>
        </div>
    </div> -->

        <div class="row row-bottom-padded-sm">
            <div class="col-md-6">
                <div class="fh5co-service text-center">
                    <img src="assets/image/s4.jpg" class="img-responsive img-bordered" img width="550" height="190">
                    <!-- <h3>SCADA & DATA TELECOMMUNICATION</h3>
                <p>State enterprise oil and gas transportation has grown from simple supply systems to complex, so It is necessary to manage the network optimization to meet high demand of gas consumption.</p> -->
                </div>
            </div>
            <!-- <div class="col-md-4">
                <div class="fh5co-service text-center">
                    <img src="images/f1.jpg" class="img-responsive img-bordered"
                        alt="Free HTML5 Bootstrap Template by FreeHTML5.co">
                    <h3>FORENSIC TECHNOLOGY</h3>
                <p>At Forensic Technology, we steadfastly believe that technology is critical to winning the war on crime and are committed to research and development that aid in the creation of new crime-fighting solutions. We pride ourselves on the fact that our award-winning technological innovations have aided public safety agencies in solving thousands of crimes worldwide.</p>
                </div>
            </div> -->
            <div class="col-md-6">
                <div class="fh5co-service text-center">
                    <img src="assets/image/network1.jpg" class="img-responsive img-bordered" img width="550" height="190">
                    <!-- <h3>SMART GRID SOLUTION</h3>
                <p>Smart grids, key component of the energy transition.</p> -->
                </div>
            </div>
        </div>

    </div>