.box1 {
    margin-top: 100px;
    margin-left: 50px;
    border-radius: 30px;
    height: 500px;
    width: 500px;
}
.text-center {
    font-size: 20px;
    font-weight: 500;
    color: red;
}
.box2 {
    margin-top: -485px;
    margin-left: 530px;
    border-radius: 30px;
    height: 500px;
    width: 1050px;
}